/* AUDIO PLAYER STYLE */
.audio_player tr td{
	padding: 0px 10px 0px 10px;
}

.audio_player table {
	background-color: #1c478e;
	border-radius: 10px;
	border: 1px solid black;
}

.audio_player table tr td p {
	font-size: 12pt;
}

.audio_volumeControl {
	width: 75px;
}

.audio_playlist td{
	padding: 0;
	margin: 0;
}

.audio_playlist input {
	text-align: center;
	margin: 0;
	padding: 0;
}

/* VIDEO PLAYER STYLE */
.video_player tr td{
	padding: 0px 10px 0px 10px;
	text-align: center!important;
}

.video_player table {
	background-color: #1c478e;
	border-radius: 7px;
}

.video_player video {
	width: 100%;
	margin-bottom: 5px;
}

.video_player #videoTimeBar {
	width: 100%;
	margin: 0 auto;
	padding: 0 auto;
	margin-bottom: 5px;
}

.video_player table tr td p {
	font-size: 12pt;
}

.video_volumeControl {
	width: 75px;
}

.video_playlist td{
	padding: 0;
	margin: 0;
}

.video_playlist input {
	text-align: center;
	margin: 0;
	padding: 0;
}

/* Apartado 5.a */
#video_mask {
    mask:url('#vmask'); /*Firefox only*/
    -webkit-mask-box-image:url('../mask.svg');/*other browsers*/
}